.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar_wrapper a {
 /*padding-left: 30px;*/
}
td{
  text-align: left;
}
th{
  text-align: left;
}
.btnDelete{
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}


.btnUpdate{
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert{
  height: 150px;
  text-align: left;

}
.textCard{
  text-align: left;
}
.container-fluid{
  font-family: 'arial';
  font-size: '12px';
}

.bg{
  background: red;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-weight: var(--bold-font);
}

.custom_nav {
    padding: 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    border-bottom: 1px solid #f1f1f1;
    min-height: 70px;
    font-family: 'Poppins', sans-serif;
}

.Home{
  text-align: center;
}
.title{
  text-align: left;

}
.section_home{
  width: 100%;
  text-transform: center;
}
.textBold{
  font-weight: bold;
}
.section_produk_layanan{
  text-align: center;
  background-color: #f8f9fa!important;
}
.curv-img {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
}

.cardBody{
  text-align: center;
}

.Footer{
  background-color: black;
  height: 150px
}

.color{
  color: white;
  padding-top: 10px
}
.fotoBg{
  vertical-align: top;
}

.textProfile{
  font-family: 'arial';
  text-align: 'left';
}
.Ft{
  height: 100%;
}