.navbar_link{
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	color: white;
	text-align: center;
	float: right;
	 text-decoration: none;
	color: black;
}
.Logo{
	color: black;
}
.navbar_wrapper{
	float: right;
}
/*.navbar_link:hover{
	background-color: blueviolet;
	color: white;
}*/

.Alert{
	height: 1000px;
}